<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Annonce</title>
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" rel="stylesheet">
</head>
<body class="container">
<h1 class="text-center">Annonce</h1>
<div class="nav justify-content-center" id="btnmenu">
    <a class="btn btn-primary" href="index.php?page=newannonce">Nouvelle annonce</a>
    <a class="btn btn-primary" href="index.php?page=login" style="margin-left: 20px">Login</a>
    <a class="btn btn-primary" href="index.php?page=newuser" style="margin-left: 20px">New user</a>
    <a class="btn btn-primary" href="index.php?page=userannonce" style="margin-left: 20px">User Annonce</a>
    <a class="btn btn-primary" href="index.php?page=traitementdeconnexion" style="margin-left: 20px">Deconnexion</a>
</div>

<div>
    {{annonce}}
</div>
</body>
</html>